* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-pattern.png);
  font-family: 'Roboto', sans-serif;
}
/* contenitore generale */
.page {
  margin: 15px auto;
  width: 60%;
}
/* header */
.header-top {
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  border: 8px solid white;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-top .logo img {
  height: 130px;
}

.header-top .logo h1 {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}
/* navbar */
.header-bottom {
  background-color: #504741;
}

.header-bottom ul {
  list-style: none;
  text-align: center;
}

.header-bottom ul li {
  display: inline-block;
  padding: 5px;
  border-right: 1px inset black;
}

.header-bottom ul li:last-child {
  border-right: 0;
}

.header-bottom ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}

.header-bottom nav ul li {
  display: inline-block;
}
.header-bottom nav ul li:hover {
  background-color: black;
  cursor: pointer;
}
/* main */
main {
  margin:10px auto;
}

main::after {
  content: "";
  display: table;
  clear: both;
}
/* colonna sinistra */
.col-left {
  width: 20%;
  background-color: white;
  float: left;
  padding: 5px;
  border-radius: 5px;
}
.list-item {
  list-style: none;
  color: green;
}

.list-item  {
  font-size: 9px;
}

.list-item li {
  margin-bottom: 9px;
}

.list-item li a {
  text-decoration: none;
  color: green;
  text-transform: capitalize;
}

.col-left i,
.col-left h3 {
  float: left;
}

.col-left h3 {
  width: 80%;
  padding-left: 5px;
  margin-bottom: 5px;
}

.col-left {
  content: "";
  display: table;
  clear: both;
}

.col-left i {
  color: orange;
}
/* colonna centrale */
.col-center {
  width: 50%;
  background-color: white;
  float: left;
  margin: 0 5%;
  font-size: 8px;
  border-radius: 5px;
  padding: 15px;
}
.col-center p {
  line-height: 15px;
  font-weight: bold;
}

.col-center h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 1px 2px lightgrey;
  color: grey;
}
/* colonna di destra */
.col-right {
  width: 20%;
  float: left;
  padding: 5px;
  border-radius: 5px;
  font-size: 9px;
}
.col-right .widget {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.col-right .widget h2 {
  margin-bottom: 15px;
}

.col-right p {
  line-height: 15px;
}
/* footer */
.footer {
  position: relative;
  background-color: white;
  height: 100px;
  border-radius: 5px;
  padding-top: 5px;
  color: lightgrey;
  text-align: center;
}

.footer .top-footer span {
  font-size: 12px;
}

.footer hr {
  width: 98%;
  margin:auto;
  color: lightgrey;
}

.bottom-footer::after {
  content: "";
  display: table;
  clear: both;
}

footer .bottom-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 15px;
}

footer .bottom-footer .c-footer a {
  color: lightgrey;
  font-size: 20px;
}

footer .bottom-footer .c-footer {
  float: left;
  width: calc(100% / 3);
}

footer .bottom-footer .c-footer a:hover {
  color:black;
}
