* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-pattern.png);
  font-family: 'Roboto', sans-serif;
}

.page {
  margin: 15px auto;
  width: 60%;
}

.header-top {
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  border: 8px solid white;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-top .logo img {
  height: 130px;
}


.header-top .logo h1 {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.header-bottom {
  background-color: #504741;
}

.header-bottom ul {
  list-style: none;
  text-align: center;
}

.header-bottom ul li {
  display: inline-block;
  padding: 5px;


}

.header-bottom ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}
